@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

@layer base {
  html {
    font-family: 'Manrope', system-ui, sans-serif;
    /*font-size: 16px;*/
  }
}


h1 {
  @apply text-4xl tracking-tighter mb-3 text-center;
}

h3 {
  @apply text-2xl font-bold mb-3;
}


/* Syntax Highlighting*/
/*
body :not(pre)>code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
*/


.barba-leave {
  opacity: 1;
}

.barba-leave-active {
  transition: opacity 0.5s ease;
}

.barba-leave-to {
  opacity: 1;
}

.barba-enter {
  opacity: 1;
}

.barba-enter-active {
  transition: opacity 0.5s ease;
}

.barba-enter-to {
  opacity: 1;
}

/***/

.barba-leave .main-inner {
  opacity: 1;
}

.barba-leave-active .main-inner {
  transition: opacity 0.5s ease;
}

.barba-leave-to .main-inner {
  opacity: 0;
}

.barba-enter .main-inner {
  opacity: 0;
}

.barba-enter-active .main-inner {
  transition: opacity 0.5s ease;
}

.barba-enter-to .main-inner {
  opacity: 1;
}
