@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

@layer base {
  html {
    font-family: 'Manrope', system-ui, sans-serif;
    /*font-size: 16px;*/
  }
}

h1 {
  @apply mb-3 text-center text-4xl tracking-tighter;
}

h3 {
  @apply mb-3 text-2xl font-bold;
}

.aside-nav-item {
  @apply mb-2 inline-block leading-6 hover:underline dark:text-gray-200;
}

ul ul .aside-nav-item {
  @apply pl-3;
}

html.dark .moon,
html:not(.dark) .sun {
  display: none;
}

.balanced {
  white-space: unset;
  text-wrap: balance;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1e293b !important;
}

/*
.dark .prose {
  @apply text-gray-200
}
*/

/* Syntax Highlighting*/
/*
body :not(pre)>code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
*/
