<header
  class="{{ 'lg:fixed' if path == 'home' }} w-full fixed z-20 top-0 bg-zinc-100 dark:bg-zinc-900 border-zinc-500 border-b"
  id="header"
>
  <nav
    class="flex flex-wrap items-center justify-center px-4 py-3 lg:justify-between"
    x-data="{ isOpen: false }"
    @keydown.escape="isOpen = false"
    @click.away="isOpen = false"
  >
    <!--Logo etc-->
    <div class="flex items-center">
      <a class="px-4 py-1 text-zinc-900 dark:text-zinc-100" href="/"
        >BARAKHOV</a
      >
    </div>

    <!--Toggle button (hidden on large screens)-->
    <button
      @click="isOpen = !isOpen"
      type="button"
      class="text-primary-500 hover:text-primary-500 focus:text-primary-500 ml-auto block px-2 focus:outline-none lg:hidden"
      :class="{ 'transition transform-180': isOpen }"
      aria-label="Menu"
    >
      <svg
        class="h-6 w-6 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 24 24"
      >
        <path
          x-show="isOpen"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
        />
        <path
          x-show="!isOpen"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
        />
      </svg>
    </button>

    {% set currentUrl = page.url.slice(0, -1) %}

    <!--Menu-->
    <div
      class="w-full flex-grow text-center lg:flex lg:w-auto lg:items-center"
      :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
      x-show.transition="true"
    >
      {% if navigation.items %}

      <ul
        class="list-reset flex-1 items-center justify-end pt-6 lg:flex lg:pt-0"
      >
        <li class="ml-3 flex">
          <button class="btn-toggle">
            <svg
              class="sun"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="rgb(229 231 235)"
              viewBox="0 0 256 256"
            >
              <path
                d="M120,40V32a8,8,0,0,1,16,0v8a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-8-8A8,8,0,0,0,50.34,61.66Zm0,116.68-8,8a8,8,0,0,0,11.32,11.32l8-8a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l8-8a8,8,0,0,0-11.32-11.32l-8,8A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l8,8a8,8,0,0,0,11.32-11.32ZM40,120H32a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Zm88,88a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-8A8,8,0,0,0,128,208Zm96-88h-8a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Z"
              ></path>
            </svg>
            <svg
              class="moon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="rgb(31 41 55)"
              viewBox="0 0 256 256"
            >
              <path
                d="M233.54,142.23a8,8,0,0,0-8-2,88.08,88.08,0,0,1-109.8-109.8,8,8,0,0,0-10-10,104.84,104.84,0,0,0-52.91,37A104,104,0,0,0,136,224a103.09,103.09,0,0,0,62.52-20.88,104.84,104.84,0,0,0,37-52.91A8,8,0,0,0,233.54,142.23ZM188.9,190.34A88,88,0,0,1,65.66,67.11a89,89,0,0,1,31.4-26A106,106,0,0,0,96,56,104.11,104.11,0,0,0,200,160a106,106,0,0,0,14.92-1.06A89,89,0,0,1,188.9,190.34Z"
              ></path>
            </svg>
          </button>
        </li>
        {% for item in navigation.items %}
        <li class="nav__item ml-3">
          <a
            @click="isOpen = false"
            class="text-ml {% if currentUrl === item.url %}underline{% endif %} inline-block px-4 py-1 text-zinc-900 hover:underline dark:text-zinc-100"
            href="{{ item.url }}"
            data-name="{{ item.text | lower }}"
            >{{ item.text | upper }}</a
          >
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </nav>
</header>
